################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlanA_Assessment/FileContentIndex
/.vs/PlanA_Assessment/v17/.suo
